<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	galleryTitle="Finnish Satellite Workshop 2018"
	indexPageName="whole.html"

>
  <image imageURL="images/IMG_5495.jpg"
	thumbURL="thumbs/IMG_5495.jpg"
	linkURL="images/IMG_5495.jpg"
	linkTarget="_blank"
	sourcePath="E:\covfefe kuvat\FSW2018_kuvat\IMG_5495.JPG">
    <title><![CDATA[IMG_5495]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_5486.jpg"
	thumbURL="thumbs/IMG_5486.jpg"
	linkURL="images/IMG_5486.jpg"
	linkTarget="_blank"
	sourcePath="E:\covfefe kuvat\FSW2018_kuvat\IMG_5486.JPG">
    <title><![CDATA[IMG_5486]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_4309.jpg"
	thumbURL="thumbs/IMG_4309.jpg"
	linkURL="images/IMG_4309.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\samul\Desktop\IMG_4309.jpg">
    <title><![CDATA[IMG_4309]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_4319.jpg"
	thumbURL="thumbs/IMG_4319.jpg"
	linkURL="images/IMG_4319.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\samul\Desktop\IMG_4319.jpg">
    <title><![CDATA[IMG_4319]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_4330.jpg"
	thumbURL="thumbs/IMG_4330.jpg"
	linkURL="images/IMG_4330.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\samul\Desktop\IMG_4330.jpg">
    <title><![CDATA[IMG_4330]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_4354.jpg"
	thumbURL="thumbs/IMG_4354.jpg"
	linkURL="images/IMG_4354.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\samul\Desktop\IMG_4354.jpg">
    <title><![CDATA[Minna Palmroth]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_4306.jpg"
	thumbURL="thumbs/IMG_4306.jpg"
	linkURL="images/IMG_4306.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\samul\Desktop\IMG_4306.jpg">
    <title><![CDATA[IMG_4306]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/abebonnema2.jpg"
	thumbURL="thumbs/abebonnema2.jpg"
	linkURL="images/abebonnema2.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\samul\Desktop\Henkilöt\abebonnema2.JPG">
    <title><![CDATA[Abe Bonnema]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_5019.jpg"
	thumbURL="thumbs/IMG_5019.jpg"
	linkURL="images/IMG_5019.jpg"
	linkTarget="_blank"
	sourcePath="E:\covfefe kuvat\FSW2018_kuvat\IMG_5019.JPG">
    <title><![CDATA[IMG_5019]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/anttinasila3.jpg"
	thumbURL="thumbs/anttinasila3.jpg"
	linkURL="images/anttinasila3.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\samul\Desktop\Henkilöt\anttinasila3.JPG">
    <title><![CDATA[Antti Näsilä]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/artojavanainen2.jpg"
	thumbURL="thumbs/artojavanainen2.jpg"
	linkURL="images/artojavanainen2.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\samul\Desktop\Henkilöt\artojavanainen2.JPG">
    <title><![CDATA[Arto Javanainen]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/eijatanskanen2.jpg"
	thumbURL="thumbs/eijatanskanen2.jpg"
	linkURL="images/eijatanskanen2.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\samul\Desktop\Henkilöt\eijatanskanen2.JPG">
    <title><![CDATA[Eija Tanskanen]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/esakallio2.jpg"
	thumbURL="thumbs/esakallio2.jpg"
	linkURL="images/esakallio2.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\samul\Desktop\Henkilöt\esakallio2.JPG">
    <title><![CDATA[Esa Kallio]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/hendrikehrpais2.jpg"
	thumbURL="thumbs/hendrikehrpais2.jpg"
	linkURL="images/hendrikehrpais2.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\samul\Desktop\Henkilöt\hendrikehrpais2.JPG">
    <title><![CDATA[Hendrik Ehrpais]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/juhanihuovelin.jpg"
	thumbURL="thumbs/juhanihuovelin.jpg"
	linkURL="images/juhanihuovelin.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\samul\Desktop\Henkilöt\juhanihuovelin.JPG">
    <title><![CDATA[Juhani Huovelin]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/jussisäily.jpg"
	thumbURL="thumbs/jussisäily.jpg"
	linkURL="images/jussisäily.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\samul\Desktop\Henkilöt\jussisäily.JPG">
    <title><![CDATA[Jussi Säily]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/jyriheilimo2.jpg"
	thumbURL="thumbs/jyriheilimo2.jpg"
	linkURL="images/jyriheilimo2.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\samul\Desktop\Henkilöt\jyriheilimo2.JPG">
    <title><![CDATA[Jyri Heilimo]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/kallevj1.jpg"
	thumbURL="thumbs/kallevj1.jpg"
	linkURL="images/kallevj1.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\samul\Desktop\Henkilöt\kallevj1.JPG">
    <title><![CDATA[Kalle Vähä-Jaakkola]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/kimmoisbjörnssund2.jpg"
	thumbURL="thumbs/kimmoisbjörnssund2.jpg"
	linkURL="images/kimmoisbjörnssund2.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\samul\Desktop\Henkilöt\kimmoisbjörnssund2.JPG">
    <title><![CDATA[Kimmo Isbjörnssund]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/kimmokanto1.jpg"
	thumbURL="thumbs/kimmokanto1.jpg"
	linkURL="images/kimmokanto1.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\samul\Desktop\Henkilöt\kimmokanto1.jpg">
    <title><![CDATA[Kimmo Kanto]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/laurikimmel1.jpg"
	thumbURL="thumbs/laurikimmel1.jpg"
	linkURL="images/laurikimmel1.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\samul\Desktop\Henkilöt\laurikimmel1.JPG">
    <title><![CDATA[Lauri Kimmel]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/maijalonnqvist1.jpg"
	thumbURL="thumbs/maijalonnqvist1.jpg"
	linkURL="images/maijalonnqvist1.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\samul\Desktop\Henkilöt\maijalonnqvist1.jpg">
    <title><![CDATA[Maija Lönnqvist]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/mattianttila2.jpg"
	thumbURL="thumbs/mattianttila2.jpg"
	linkURL="images/mattianttila2.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\samul\Desktop\Henkilöt\mattianttila2.JPG">
    <title><![CDATA[Matti Anttila]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/mikatakala2.jpg"
	thumbURL="thumbs/mikatakala2.jpg"
	linkURL="images/mikatakala2.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\samul\Desktop\Henkilöt\mikatakala2.JPG">
    <title><![CDATA[Mika Takala]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/mikkokiviranta2.jpg"
	thumbURL="thumbs/mikkokiviranta2.jpg"
	linkURL="images/mikkokiviranta2.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\samul\Desktop\Henkilöt\mikkokiviranta2.JPG">
    <title><![CDATA[Mikko Kiviranta]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_5085.jpg"
	thumbURL="thumbs/IMG_5085.jpg"
	linkURL="images/IMG_5085.jpg"
	linkTarget="_blank"
	sourcePath="E:\covfefe kuvat\FSW2018_kuvat\IMG_5085.JPG">
    <title><![CDATA[IMG_5085]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/oddrogerenoksen2.jpg"
	thumbURL="thumbs/oddrogerenoksen2.jpg"
	linkURL="images/oddrogerenoksen2.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\samul\Desktop\Henkilöt\oddrogerenoksen2.jpg">
    <title><![CDATA[Odd Roger Enoksen]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/olavinevalainen2.jpg"
	thumbURL="thumbs/olavinevalainen2.jpg"
	linkURL="images/olavinevalainen2.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\samul\Desktop\Henkilöt\olavinevalainen2.JPG">
    <title><![CDATA[Olavi Nevalainen]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_5101.jpg"
	thumbURL="thumbs/IMG_5101.jpg"
	linkURL="images/IMG_5101.jpg"
	linkTarget="_blank"
	sourcePath="E:\covfefe kuvat\FSW2018_kuvat\IMG_5101.JPG">
    <title><![CDATA[IMG_5101]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_5066.jpg"
	thumbURL="thumbs/IMG_5066.jpg"
	linkURL="images/IMG_5066.jpg"
	linkTarget="_blank"
	sourcePath="E:\covfefe kuvat\FSW2018_kuvat\IMG_5066.JPG">
    <title><![CDATA[IMG_5066]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/olliwilkman2.jpg"
	thumbURL="thumbs/olliwilkman2.jpg"
	linkURL="images/olliwilkman2.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\samul\Desktop\Henkilöt\olliwilkman2.JPG">
    <title><![CDATA[Olli Wilkman]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/pekkalaurila1.jpg"
	thumbURL="thumbs/pekkalaurila1.jpg"
	linkURL="images/pekkalaurila1.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\samul\Desktop\Henkilöt\pekkalaurila1.JPG">
    <title><![CDATA[Pekka Laurila]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/pekkjanhunen2.jpg"
	thumbURL="thumbs/pekkjanhunen2.jpg"
	linkURL="images/pekkjanhunen2.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\samul\Desktop\Henkilöt\pekkjanhunen2.JPG">
    <title><![CDATA[Pekka Janhunen]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/philippahlsson2.jpg"
	thumbURL="thumbs/philippahlsson2.jpg"
	linkURL="images/philippahlsson2.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\samul\Desktop\Henkilöt\philippahlsson2.jpg">
    <title><![CDATA[Philip Påhlsson]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/ramivainio2.jpg"
	thumbURL="thumbs/ramivainio2.jpg"
	linkURL="images/ramivainio2.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\samul\Desktop\Henkilöt\ramivainio2.JPG">
    <title><![CDATA[Rami Vainio]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_5052.jpg"
	thumbURL="thumbs/IMG_5052.jpg"
	linkURL="images/IMG_5052.jpg"
	linkTarget="_blank"
	sourcePath="E:\covfefe kuvat\FSW2018_kuvat\IMG_5052.JPG">
    <title><![CDATA[IMG_5052]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/raunogordon1.jpg"
	thumbURL="thumbs/raunogordon1.jpg"
	linkURL="images/raunogordon1.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\samul\Desktop\Henkilöt\raunogordon1.JPG">
    <title><![CDATA[Rauno Gordon]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/rennetergujeff2.jpg"
	thumbURL="thumbs/rennetergujeff2.jpg"
	linkURL="images/rennetergujeff2.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\samul\Desktop\Henkilöt\rennetergujeff2.JPG">
    <title><![CDATA[Renne Tergujeff]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/taunovähäheikkilä1.jpg"
	thumbURL="thumbs/taunovähäheikkilä1.jpg"
	linkURL="images/taunovähäheikkilä1.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\samul\Desktop\Henkilöt\taunovähäheikkilä1.JPG">
    <title><![CDATA[Tauno Vähä-Heikkilä]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/tomaskohout1.jpg"
	thumbURL="thumbs/tomaskohout1.jpg"
	linkURL="images/tomaskohout1.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\samul\Desktop\Henkilöt\tomaskohout1.JPG">
    <title><![CDATA[Tomas Kohout]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/tuomastikka1.jpg"
	thumbURL="thumbs/tuomastikka1.jpg"
	linkURL="images/tuomastikka1.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\samul\Desktop\Henkilöt\tuomastikka1.JPG">
    <title><![CDATA[Tuomas Tikka]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_4822.jpg"
	thumbURL="thumbs/IMG_4822.jpg"
	linkURL="images/IMG_4822.jpg"
	linkTarget="_blank"
	sourcePath="E:\covfefe kuvat\FSW2018_kuvat\IMG_4822.JPG">
    <title><![CDATA[IMG_4822]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_4921.jpg"
	thumbURL="thumbs/IMG_4921.jpg"
	linkURL="images/IMG_4921.jpg"
	linkTarget="_blank"
	sourcePath="E:\covfefe kuvat\FSW2018_kuvat\IMG_4921.JPG">
    <title><![CDATA[IMG_4921]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_5093.jpg"
	thumbURL="thumbs/IMG_5093.jpg"
	linkURL="images/IMG_5093.jpg"
	linkTarget="_blank"
	sourcePath="E:\covfefe kuvat\FSW2018_kuvat\IMG_5093.JPG">
    <title><![CDATA[IMG_5093]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_5107.jpg"
	thumbURL="thumbs/IMG_5107.jpg"
	linkURL="images/IMG_5107.jpg"
	linkTarget="_blank"
	sourcePath="E:\covfefe kuvat\FSW2018_kuvat\IMG_5107.JPG">
    <title><![CDATA[IMG_5107]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_5118.jpg"
	thumbURL="thumbs/IMG_5118.jpg"
	linkURL="images/IMG_5118.jpg"
	linkTarget="_blank"
	sourcePath="E:\covfefe kuvat\FSW2018_kuvat\IMG_5118.JPG">
    <title><![CDATA[IMG_5118]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_5125.jpg"
	thumbURL="thumbs/IMG_5125.jpg"
	linkURL="images/IMG_5125.jpg"
	linkTarget="_blank"
	sourcePath="E:\covfefe kuvat\FSW2018_kuvat\IMG_5125.JPG">
    <title><![CDATA[IMG_5125]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_5147.jpg"
	thumbURL="thumbs/IMG_5147.jpg"
	linkURL="images/IMG_5147.jpg"
	linkTarget="_blank"
	sourcePath="E:\covfefe kuvat\FSW2018_kuvat\IMG_5147.JPG">
    <title><![CDATA[IMG_5147]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_5169.jpg"
	thumbURL="thumbs/IMG_5169.jpg"
	linkURL="images/IMG_5169.jpg"
	linkTarget="_blank"
	sourcePath="E:\covfefe kuvat\FSW2018_kuvat\IMG_5169.JPG">
    <title><![CDATA[IMG_5169]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_5150.jpg"
	thumbURL="thumbs/IMG_5150.jpg"
	linkURL="images/IMG_5150.jpg"
	linkTarget="_blank"
	sourcePath="E:\covfefe kuvat\FSW2018_kuvat\IMG_5150.JPG">
    <title><![CDATA[IMG_5150]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>